<section class="container page">
	<div class="page-block">
		<div class="page-header">
			<h2>Редактировать блог</h2>
		</div>
		<form class="form" >
			<fieldset class="fieldset">
				<input class="input" type="text" name="title" placeholder="Заголовок" 
				[ngModel]="blog?.title" (ngModelChange)="blog?.title ? blog.title = $event : null">
			</fieldset >
			<fieldset>
				<select name="category_id" class="input" >
				</select>
			</fieldset >
			<fieldset class="fieldset">
				<button class="button button-yellow input-file">
					<input type="file" name="image">	
					Выберите картинку
				</button>
			</fieldset>
			<fieldset class="fieldset">
				<textarea class="input input-textarea" name="description" id="" cols="30" rows="10" placeholder="Описание" [ngModel]="blog?.text" (ngModelChange)="blog?.text ? blog.text = $event : null"></textarea>
			</fieldset>
			<fieldset class="fieldset">
				<button class="button" (click)="editblog()" type="button">Сохранить</button>
			</fieldset>
		</form>
			<p class="text-danger"> Заголовок и Описание не могут быть пустыми!</p>

	</div>

</section>