<section class="container page">
<div class="page-content">
		<div class="blogs">
			<div class="blog-item">
				<img class="blog-item--img" src="" alt="">

                <div class="blog-info">
					
					<span class="link">
						<img src="/images/visibility.svg" alt="">
						{{blog.views}}
					</span>
					<a class="link">
						<img src="/images/person.svg" alt="">
						{{blog.author.name}}
					</a>
				</div>
				
				<div class="blog-header">
					<h3>{{blog.title}}</h3>
				</div>
				<p class="blog-desc">
					{{blog.text}}
				</p>
			</div>
		</div>
	</div>

	
</section>