<section class="container page">
    <div class="page-content">
        <div class="page-header">
            <h2>Мои блоги</h2>
            <a class="button" routerLink="/newblog" href="">Новый блог</a>
        </div>

        <div class="blogs">
            <app-bloglist></app-bloglist>
        </div>
        
    </div>
    <div class="page-info">
        <div class="page-header">
            <h2>Категории</h2>
        </div>
        
        <a class='list-item' href=''> category.name </a>
        
    </div>
</section>	
